include/config.h
include/config.status
include/config.log
include/config.cache
Makefile
hhexen-gl
hhexen-vga
hhexen-x11
hhexen-sdl
hexdd.wad
hexen.wad
config.status
config.cache
config.log
autom4te.cache/
configure
